In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps 
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing 
%matplotlib inline

In [76]:
%%time
mydata = pd.read_csv('applications data.csv')

CPU times: user 2.14 s, sys: 239 ms, total: 2.38 s
Wall time: 2.36 s

In [77]:
mydata.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0

In [8]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
record         1000000 non-null int64
date           1000000 non-null int64
ssn            1000000 non-null int64
firstname      1000000 non-null object
lastname       1000000 non-null object
address        1000000 non-null object
zip5           1000000 non-null int64
dob            1000000 non-null int64
homephone      1000000 non-null int64
fraud_label    1000000 non-null int64
nameDOB        1000000 non-null object
dtypes: int64(7), object(4)
memory usage: 83.9+ MB

In [16]:
mydata.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,nameDOB,fulladdress
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,19070626,1797504115,0,XRRAMMTR_SMJETJMJ_19070626,6861 EUTST PL_2765
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,MAMSTUJR_RTTEMRRR_19340615,7280 URASA PL_57169
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0,SZMMUJEZS_EUSEZRAE_19070626,5581 RSREX LN_56721
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0,SJJZSXRSZ_ETJXTXXS_19440430,1387 UJZXJ RD_35286
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0,SSSXUEJMS_SSUUJXUZ_19980315,279 EAASA WY_3173

In [ ]:
for i in data.index:
    mydata.at[i,'ssn']=str(mydata.at[i,'ssn']) if len(str(mydata.at[i,'ssn']))==10 else str(mydata.at[i,'ssn']).rjust(10,'0')

In [ ]:
for i in range(0,1000000):
    mydata['zip5'][i]=format(int(mydata['zip5'][i]), "05") if len(mydata['zip5'][i])<5 else mydata['zip5'][i]==mydata['zip5'][i]

In [78]:
%%time
mydata['zip5']= mydata.apply(lambda row: str(row['zip5']).zfill(5), axis=1)

CPU times: user 14 s, sys: 378 ms, total: 14.3 s
Wall time: 14.6 s

In [79]:
mydata['zip5']

0         02765
1         57169
2         56721
3         35286
4         03173
5         08391
6         41640
7         60567
8         37934
9         93751
10        92129
11        09531
12        82369
13        66204
14        61344
15        43912
16        29576
17        51486
18        93301
19        25166
20        14589
21        21860
22        45982
23        94373
24        59453
25        83363
26        51395
27        93806
28        21920
29        02214
          ...
999970    05196
999971    25115
999972    84983
999973    08343
999974    50193
999975    07662
999976    12921
999977    59998
999978    14736
999979    90077
999980    43787
999981    11343
999982    59614
999983    04890
999984    23831
999985    22378
999986    25898
999987    21879
999988    48650
999989    77781
999990    12921
999991    56999
999992    23960
999993    43552
999994    54964
999995    54890
999996    74683
999997    86805
999998    49183
999999    39491
Name: zip5, Length: 1000000, dtype: object

In [ ]:
#R fill
#library(stringr)
#application$ssn=as.character(application$ssn)
#application$ssn=str_pad(application$ssn, 9, pad = "0")

In [80]:
for i in mydata.index:
    if mydata.at[i,'ssn']==999999999:
        mydata.at[i,'ssn']=mydata.at[i,'record']

In [81]:
for i in mydata.index:
    if mydata.at[i,'homephone']==9999999999:
        mydata.at[i,'homephone']=mydata.at[i,'record']

In [82]:
%%time
mydata['ssn']= mydata.apply(lambda row: str(row['ssn']).zfill(9), axis=1)

CPU times: user 13.7 s, sys: 309 ms, total: 14 s
Wall time: 14.1 s

In [83]:
mydata['homephone'] = mydata.apply(lambda row: str(row['homephone']).zfill(10), axis=1)

In [84]:
mydata['nameDOB']=mydata['firstname']+'_'+mydata['lastname']+'_'+mydata['dob'].astype(str)

In [85]:
mydata['fulladdress']=mydata['address']+'_'+mydata['zip5'].astype(str)

In [86]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
record         1000000 non-null int64
date           1000000 non-null int64
ssn            1000000 non-null object
firstname      1000000 non-null object
lastname       1000000 non-null object
address        1000000 non-null object
zip5           1000000 non-null object
dob            1000000 non-null int64
homephone      1000000 non-null object
fraud_label    1000000 non-null int64
nameDOB        1000000 non-null object
fulladdress    1000000 non-null object
dtypes: int64(4), object(8)
memory usage: 91.6+ MB

In [87]:
mydata.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,nameDOB,fulladdress
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,19070626,1797504115,0,XRRAMMTR_SMJETJMJ_19070626,6861 EUTST PL_02765
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,MAMSTUJR_RTTEMRRR_19340615,7280 URASA PL_57169
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,0216537580,0,SZMMUJEZS_EUSEZRAE_19070626,5581 RSREX LN_56721
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,0132144161,0,SJJZSXRSZ_ETJXTXXS_19440430,1387 UJZXJ RD_35286
4,5,20160101,024065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,SSSXUEJMS_SSUUJXUZ_19980315,279 EAASA WY_03173

In [89]:
mydata['date'] = pd.to_datetime(pd.Series(mydata['date']), format='%Y%m%d')
mydata['dob'] = pd.to_datetime(pd.Series(mydata['dob']), format='%Y%m%d')

In [90]:
mydata.to_csv('before create variables.csv')